* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
}

body {
 background-color: hsl(160, 100%, 97%);
}

.main__container {
 padding: 64px 32px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
gap:32px 32px;
 
}

.card{
 display: flex;
 flex-direction: column;
 position: relative;
 width: 350px;
 margin-bottom: 16px;
box-shadow: 1px 1px 31px -10px rgba(66, 68, 90, 0.5);
}

.picture {
 object-fit: cover;
 height: 350px;
 width: 350px;
 border-top-right-radius: 8px;
 border-top-left-radius: 8px;
}

.card__description {
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 350px;
 background-color: white;
padding: 40px 24px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}

h2 {
 margin-bottom: 16px;
}

p {
 margin-bottom: 32px;
 line-height: 28px;
}

button {
 background-color: white;
 border: solid 1px blue;
 padding: 16px 32px;
 width: 100%;
 font-size: 18px;
letter-spacing: 2px;
 color: blue;
 transition: 0.5s;
 border-radius: 8px;
 cursor: pointer;
margin-top: auto;
}

button:hover {
background-color: blue;
color:white;
position:relative;
top:3px;
}

button:active {
 position:relative;
top:3px;
}
