:root {
  --background-color: #E0FCFF;
  --clock-body-color:#0E7C86;
  --switch-color:#044E54;
  --switch-text-color: white;
  --clock-window-color: white;
  --display-text-color: black;
  --button-font-weight:500;
}


.dark-mode {
  --button-font-weight: 600;
--background-color:#044E54;
--clock-body-color: #0E7C86;
--switch-color:#E0FCFF;
--switch-text-color: black;
--clock-window-color: rgba(4, 78, 84, 0.6);
--display-text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:var(--background-color);

}

.main-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}

.clock {
  margin: 0 auto 32px auto;
  max-width: 500px;
  background-color: var(--clock-body-color);
  padding: 32px 32px;
border-radius: 8px;
}

.switch {
  font-weight: var(--button-font-weight);
letter-spacing: 2px;
  margin: 0 auto;
  background-color: var(--switch-color);
  border: none;
  padding: 16px 40px;
  border-radius: 32px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: var(--switch-text-color);
 opacity: 1
}

.switch:hover {
  opacity: 0.9;
}

.switch:active {
  top: 3px;
  position: relative;
}

.clock-window {
  background-color:var(--clock-window-color);
  padding: 32px 62px;
  border-radius: 8px;
}

.days-container {
  color: var(--display-text-color);
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

.time-container {
  color: var(--display-text-color);
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

.clock-display {
  font-size: 28px;
  letter-spacing: 4px;
}