* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(224, 242, 248);
  display: flex;
  flex-direction: column;
}


.main-container {
  min-width: 300px;
 margin: 32px auto 0 auto;
  border-radius: 8px;
  background-color: white;
  padding: 40px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
box-shadow: 0px 1px 17px -3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  .main-container {
    min-width: 500px;
    padding: 32px;
  }
}

.pop__up-hide {
  display: none;
}

.pop_up--green {
background-color: rgba(0, 128, 0, 0.3);
color: green;
}

.pop_up--red {
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
}

.info-pop-up {
  width: 100%;
   text-align: center;
   margin-bottom: 16px;
   padding: 4px;
   font-size: 13px;
   letter-spacing: 4px;
}

@media (min-width: 1000px){
.info-pop-up {
  letter-spacing: 6px;
 
  margin-bottom: 32px;
 
} 
}

h2 {
  margin-bottom: 32px;
  font-size: 24px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1000px) {
  h2 {
    font-size: 32px;
  }
}



.submit-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-bottom: 32px;
}

@media (min-width: 1000px) {
.submit-container {
  width: 100%;
}
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 75%;
  padding: 6px;
float: left;
	font-size: 13px;
  background-color: rgba(211, 211, 211, 0.3);
  
}

@media (min-width: 1000px) {
  input {
    font-size: 16px;
  }
}

.sumbit-button {
  padding: 9px 4px;
  width: 25%;
  background:lightblue;
  color:black;
  text-align: center;
  font-size: 14px;

  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  float: left;
}

@media (min-width: 1000px) {
  .sumbit-button {
    font-size: 20px;
  }
}

.list {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

@media (min-width: 1000px) {
  .list {
    width: 100%;
  }
}

.list-element {
  list-style-type: none;  
 display: flex;
 margin-bottom: 8px;
 font-size: 13px;
}

@media (min-width: 1000px) {
  .list-element {
    font-size: 16px;
  }
}

.list-container {
margin-bottom: 32px;
width: 100%;
font-size: 14px;
transition: 0.3s;
}

.list-element {
  border-radius: 8px;
  padding: 6px;
}

.list-element:hover {
  color: rgb(138, 208, 231);
 background-color: rgba(211, 211, 211, 0.3);
}

.icon-container {
margin-left: auto;
 gap: 8px;
}

.trash--red {
  color: rgba(255, 0, 0, 0.8);
  opacity: 1;
  cursor: pointer
}

.edit--green {
  color: rgba(0, 128, 0, 0.8);
  opacity: 1;
  cursor: pointer;
}

.trash--red:hover, .edit--green:hover {
  opacity: 0.7;
}

.clear-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgba(255, 0, 0, 0.6);
  letter-spacing: 6px;
  font-size: 13px;
}

@media (min-width: 1000px) {
  .clear-button {
    font-size: 16px;
  }
}

.clear-button-hide {
  display: none;
}

.hidden {
  display: none;
}