* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fdf0eb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.card {
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}



.pop__up {
  width: 100%;
  background-color:rgba(85, 67, 59, 0.3) ;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 3px;
  padding: 8px;
  margin: 0 auto 32px auto;
  color:rgb(85, 67, 59) ;
  
}

@media (min-width: 1000px) {
.pop__up {
  font-size:16px ;
}  
}

.hidden {
  display: none;
}


h1 {
  letter-spacing: 2px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
}


@media (min-width: 1000px) {
  h1 {
    font-size: 24px;
    margin-bottom: 64px;
  }
}
 

input {
margin-bottom: 32px;
  border: none;
  border-radius: 0;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  outline: none;
}

input:focus {
  outline: solid 2px #55433b;
}

.counter{  
 
background-color:#adc0a9;
padding: 16px;
margin: 0 auto 32px auto;
font-size: 20px;
color: black;
text-align: center;
}

.calc {
  width: 100%;
  background-color:#cda291;
	border-radius:12px;
	cursor:pointer;
	color:black;
	font-size:12px;
	font-weight:bold;
	padding:16px;
border: none;
transition: 0.3s;
opacity: 1;
}

@media (min-width: 1000px) {
  .calc {
    font-size:15px;
	font-weight:bold;
	padding:16px 31px;
  }
}

.calc:hover {
  opacity: 0.8;
}

.calc:active {
	position:relative;
	top:2px;
}
