* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Kumbh Sans', sans-serif;

}
html {
 scroll-behavior: smooth;
}

.navbar-mobile-wrapper {
 background: rgba(0,0,0,0.6);
 width: 100%;
 position: fixed;
 z-index: 1;
}

.navbar-mobile-vertical-container {
 background-color: white;
 display: flex; 
 flex-direction: column;
 padding: 32px;
 min-height: 100vh;
 overflow: auto;
 width: 70%;
}

.close-icon {
 margin-bottom: 48px;
 cursor: pointer;
}

.navbar-element {
 margin-bottom: 12px;
}

.navbar-element, .close-icon {
 list-style-type: none;
 display: block;
} 

.navbar-link {
 display: block;
 margin-bottom: 16px;
 color: hsl(220, 13%, 13%);
 font-weight: 700;
 text-decoration: none;
 cursor: pointer;
 transition: 0.3s;
}

.navbar-link:hover {
 color: hsl(26, 100%, 55%);
}

.cart-pop-up {
 background-color: white;
 border-radius: 10px;
 z-index: 2;
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 top: 58px;
 left: 0;
 right: 0;
 margin: 10px;
box-shadow: 0px 12px 25px -7px rgba(0, 0, 0, 0.6);

}

@media (min-width: 1240px) {
 .cart-pop-up {
  width: 350px;
  left: auto;
  top: 94px;
  margin: 0px 130px;
 }
}

.cart-title p {
 width: 100%;
 font-weight: 700;
 padding: 16px;
 font-size: 14px;
 margin-bottom: 16px;
 border-bottom:1px solid  hsl(220, 14%, 75%);
}

@media (min-width: 1240px) {
  .cart-title p {
    font-size: 16px;
  }
}

.cart-container {
 font-size: 14px;
 
}

@media (min-width: 1240px) {
  .cart-container {
    font-size: 16px;
  }
}

.cart__product-info {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-content: center;
 margin-bottom: 24px;
 align-items: center;
}

.cart__product-name {
 white-space: nowrap; 
 overflow: hidden;
 width: 165px; 
 margin-bottom: 8px;
 text-overflow: ellipsis;
 color: hsl(219, 9%, 45%) ;
}

.cart__product-amount {
 display: flex;
 justify-content: space-around;
}

.cart-total {
 font-weight: 700;
 color: black;
}



.cart__trash--icon-container {
 padding: 12px;
 cursor: pointer;
}

.cart__price, .cart__amount {
 color: hsl(219, 9%, 45%); 
 font-weight: 400;
}

.cart__button {
 text-align: center;
 cursor: pointer;
 border: none;
 border-radius: 10px;
 background-color: hsl(26, 100%, 55%);
 font-weight: 700;
 padding: 16px;
 color:hsl(25, 100%, 94%);
 letter-spacing: 1px;
 font-family: 'Kumbh Sans', sans-serif;
}


.cart-container div {
 color:hsl(219, 9%, 45%);
 font-weight: 700;
 letter-spacing: 0.5px;
}

.cart__image--small {
 width: 15%;
 object-fit: cover;
 border-radius: 8px;
}

.main-hero {
 z-index: 0;
}

.main-container {
 min-width: 365px;
 display: flex;
 flex-direction: column;
max-width: 500px;
margin: auto;
}

@media (min-width:1240px) {
 .container__for-screen--bg {
  display: flex;
  flex-direction: column ;
 }
}

@media (min-width: 1240px) {
 .main-container {
 max-width: max-content;
  margin: 0 auto;
  position: inherit;
 }
}

.navbar-container {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 16px;
}


@media (min-width: 1240px) {
 .navbar-container {
  padding: 40px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
 }
}

.navbar-element-left {
 margin-right: auto;
}

@media (min-width: 1240px) {
 .navbar-element-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }
}

@media (min-width: 1240px) {
.container-product--bgscreen {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
/* gap:  0px 64px; */
 padding: 100px 50px;
 max-width: 1240px;
}
}

.navbar-element-right {
 align-items: center;
 display: flex;
 justify-content: flex-end;
}

.menu-hamburger {
 margin-right: 16px;
 cursor: pointer;
}

@media (min-width: 1240px) {
 .menu-hamburger {
  display: none;
 }
}

.navbar-list-screen--bg {
 display: none;
}

@media (min-width: 1240px) {
 .navbar-list-screen--bg {
  display: flex;
  flex-direction: row;
 list-style-type: none;
 }
 .navbar-list-element-screen--bg {
  margin-right: 32px;
  transition: 0.3s;
 }
 
 .navbar-list-element-screen--bg:hover {

  color: hsl(26, 100%, 55%);
 }
}

.logo {
 object-fit: cover;
 cursor: pointer;
}

@media (min-width: 1240px) {
 .logo {
  margin-right: 63px;
 }
}

.cart-navbar-icon {
height: 100%;
 object-fit: cover;
 cursor: pointer;
}

@media (min-width: 1240px) {
  .cart-navbar-icon {
    width: 23%;
  }
}

.cart-number {
border-radius:6px;
color: hsl(25, 100%, 94%);
 font-size: 8px;
 background-color:hsl(26, 100%, 55%);
 padding: 4px 6px;
 z-index: 1;
 transform: translate(24px, -10px);
}

@media (min-width: 1240px) {
  .cart-number {
transform: translate(39px ,-24px);
font-size: 13px;
  }
}

.avatar-image {
 width: 20%;
 object-fit: cover;
 margin-left: 16px;
 cursor: pointer;
}

@media (min-width: 1240px) {
 .avatar-image {
  width: 40%;
  margin-left: 32px;
 }
.avatar-image:hover {
 border-radius: 50%;
 outline: 2px solid hsl(26, 100%, 55%);
}

}

.product-image {
 width: 100%;
 object-fit: cover;
 z-index: 1;
}

@media (min-width: 1240px) {
 .product-image {
  width: 500px;
  border-radius: 16px;
margin-bottom: 64px;
 }
}

.slider-container {
 display: flex;
 justify-content: space-between;
 padding: 0 16px;
 transform: translateY(-220px);
}

@media (min-width: 1240px) {
 .slider-container {
  display: none;
 }
}

.arrow {
 z-index: 2;
 cursor: pointer;
box-shadow: 0px 5px 22px -5px rgba(0, 0, 0, 0.6);
 display: flex;
 padding: 12px;
 border-radius: 50%;
 align-items: center;
 background-color: hsl(223, 64%, 98%);
}

.arrow-left {
 height: 10px;
 width: 10px;
 object-fit: cover;
}

.arrow-right {
 height: 10px;
 width: 10px;
 object-fit: cover;
}

.description-container {
 padding: 0 16px;
}

.company-name {
 color:hsl(26, 100%, 55%);
 margin-bottom: 16px;
 letter-spacing: 1.5px;
}

@media (min-width: 1240px) {
 .company-name {
  font-size: 18px;
  margin-bottom: 24px;
 }
}

.product-name {
 font-size: 30px;
 line-height: 32px;
 text-align: left;
 margin-bottom: 16px;
 font-weight: 700;
}

@media (min-width: 1240px) {
 .product-name {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 32px;
 }
}

.description-text {
font-size: 15px;
 color:  hsl(219, 9%, 45%);
 line-height: 28px;
 margin-bottom: 32px;

 text-align: left;
}

@media (min-width: 1240px) {
 .description-text {
  font-size: 18px;
  line-height:30px;
 }
}

.price-container {
 margin-bottom: 16px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

@media (min-width: 1240px) {
 .price-container {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
 }
 .new-price {
  font-size: 32px;
 }
}

.sale-container {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.sale-amount {
 padding:  2px 8px;
 border-radius: 4px;
 margin-left: 16px;
 font-weight: 700;
 color: hsl(26, 100%, 55%);
 background-color: hsl(25, 100%, 94%) ;
}

@media (min-width: 1240px) {
 .sale-container {
  margin-bottom: 8px;
 }
}

.old-price {
 color:  hsl(220, 14%, 75%);
 font-size: 14px;
 font-weight: 700;
 text-decoration: line-through;
}

@media (min-width: 1240px) {
 .old-price {
  font-size: 16px;
 }
}

.amount-container {
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 background-color:  hsl(223, 64%, 98%);
 border-radius: 10px;
 margin-bottom: 16px;
}

@media (min-width: 1240px) {
 .amount-container {
  margin-right: 32px;
 }
}

.minus-icon-container, .plus-icon-container {
 cursor: pointer;
padding: 16px 32px;
}

@media (min-width: 1240px) {
 .minus-icon{
  margin-bottom: 3px;
 }}

.amount-number {
 font-weight: 700;
}

.add-button {
 box-shadow: 0px 28px 33px -30px rgba(66, 68, 90, 1);
 width: 100%;
 border: none;
 border-radius: 10px;
 background-color: hsl(26, 100%, 55%);
 color:hsl(25, 100%, 94%);
 padding: 16px;
 display: flex;
 font-size: 16px;
 flex-direction: row;
 justify-content: center;
 font-weight: 700;
 cursor: pointer;
 margin-bottom: 16px;
 font-family: 'Kumbh Sans', sans-serif;
}


.button-cart-icon {
 margin-right: 32px;
 filter: brightness(90.5);
 width: 10px;
 height: 10px;
}


@media (min-width: 1240px) {
 .button-text {
  font-size: 18px;
 }
}


.hidden {
 display: none;
}


.gallery-container {
 display: none;
} 

@media (min-width: 1240px) {
 .gallery-container {
  display: flex;
align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;

 }
.gallery-container img {
 width:70px;
 object-fit: cover;
 border-radius:8px ;
}

}

@media (min-width: 1240px) {
 .container-button--bgscreen {
  display: flex;
  justify-content: space-evenly;

 }
}

